.CartMini {
    position: absolute;
    width: 325px;
    height: 600px;
    /* height: 677px; */
    background-color: #FFF;
    border: 1px solid black;

    position: fixed;    
    top: 80px;
    left: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.CartMini_hidden {
    display: none;
}