.BasketCurrency {
    width: 153px;
}

.NavBar_Currency {
    border: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    /* identical to box height, or 29px */

    display: flex;
    align-items: flex-end;

    /* --c-black */

    color: #1D1F22;
}
option {
    border: none;
}